<nav class="sidebar">
    <div class="sidebar__header">
        <div class="sidebar__brand">
            {{{smallHeartHtml}}}
            <h2 class="sidebar__name">Терабития</h2>
        </div>
        <button class="sidebar__close" id="menuCloseButton" aria-label="Закрыть меню">×</button>
    </div>

    <div class="sidebar__list-wrapper">
        <ul class="sidebar__list">
            {{#each menuItems}}
                <li class="sidebar__item sidebar__item{{#if isActive}}-active{{else}}-disabled{{/if}}" data-route="{{route}}">
                    <a href="#" class="sidebar__link sidebar__link{{#if isActive}}-active{{else}}-disabled{{/if}}">
                        <img src="{{../SVG_PATH_BASE}}{{icon}}" alt="{{name}}" class="sidebar__icon sidebar__icon{{#if isActive}}-active{{else}}-disabled{{/if}}">
                        {{name}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</nav>