<div class='match-profile-page'>
    <div class='match-profile-page__heading'>
        <p class='match-profile-page__eyebrow'>Ваш мэтч</p>
        <h1 class='match-profile-page__title'>{{name}}{{#if age}}, {{age}}{{/if}}</h1>
        <p class='match-profile-page__subtitle'>Познакомьтесь ближе и переходите в чат</p>
        <div class='match-profile-page__actions match-profile-page__actions--mobile'>
            <button class='match-profile-page__chat-btn' data-action='open-chat'>Перейти в чат</button>
            <button
                class='match-profile-page__report-btn'
                type='button'
                data-report-open
            >Пожаловаться</button>
        </div>
    </div>

    <div class='match-profile-page__content'>
        <section class='match-profile-page__photos'>
            <div
                class='match-profile-page__cover {{#unless heroPhoto}}match-profile-page__cover--placeholder{{/unless}}'
                {{#if heroPhoto}}
                    style="background-image: url('{{heroPhoto}}');"
                {{/if}}
            >
                <span class='match-profile-page__chip'>Совпадение</span>
            </div>
            <div class='match-profile-page__gallery'>
                {{#each photoCards}}
                    <div
                        class='match-profile-page__thumb {{#unless this.isUserPhoto}}match-profile-page__thumb--placeholder{{/unless}}'
                        {{#if this.isUserPhoto}}
                            style="background-image: url('{{this.image}}');"
                        {{/if}}
                    ></div>
                {{/each}}
            </div>
        </section>

        <section class='match-details match-details--match'>
            <article class='match-details__block'>
                <h3 class='match-details__section-title'>О себе</h3>
                <p class='match-details__section-text'>{{description}}</p>
            </article>

            {{#if activities.length}}
                <article class='match-details__block'>
                    <h3 class='match-details__section-title'>Активности</h3>
                    <div class='match-details__icons'>
                        {{#each activities}}
                            <div class='match-details__icon-circle'>
                                <img
                                    src='{{this.icon}}'
                                    alt='{{this.name}}'
                                    class='match-details__activity-icon'
                                    title='{{this.name}}'
                                />
                            </div>
                        {{/each}}
                    </div>
                </article>
            {{/if}}

            <article class='match-details__block'>
                <h3 class='match-details__section-title'>Любимый исполнитель</h3>
                <p class='match-details__section-text'>{{musician}}</p>
            </article>

            <article class='match-details__block'>
                <h3 class='match-details__section-title'>Любимая цитата</h3>
                <p class='match-details__section-text'>{{quote}}</p>
            </article>

            <div class='match-profile-page__actions match-profile-page__actions--desktop'>
                <button class='match-profile-page__chat-btn' data-action='open-chat'>Перейти в чат</button>
                <button
                    class='match-profile-page__report-btn'
                    type='button'
                    data-report-open
                >Пожаловаться</button>
            </div>
        </section>
    </div>
</div>