<div class="match-profile">
    <div class="match-profile__content">
        <div class="match-profile__photo-grid">
            {{#each photoCards}}
            <div class="match-profile__photo-card" data-photo-id="{{this.id}}">
                {{#if this.isUserPhoto}}
                <div class="match-profile__photo-image" style="background-image: url('{{this.image}}');"></div>
                {{else}}
                <div class="match-profile__photo-placeholder"></div>
                {{/if}}
            </div>
            {{/each}}
        </div>

        <div class="match-profile__details">

            <h3 class="match-profile__section-title">О себе</h3>
            <div class="match-profile__content-wrapper" id="description">
                <p class="match-profile__text">{{description}}</p>
            </div>

            <h3 class="match-profile__section-title">Увлечения</h3>
            <div class="match-profile__interests" id="interests-list">
                {{#each interests}}
                <span class="match-profile__interest-tag" data-interest-id="{{this.id}}">
                    {{this.name}}
                </span>
                {{/each}}
            </div>

            <h3 class="match-profile__section-title">Активности</h3>
            <div class="match-profile__icon-section">
                <div class="match-profile__icon-circle"></div>
                <div class="match-profile__icon-circle"></div>
            </div>

            <h3 class="match-profile__section-title">Любимый исполнитель</h3>
            <div class="match-profile__content-wrapper" id="musician">
                <p class="match-profile__text">{{musician}}</p>
            </div>

            <h3 class="match-profile__section-title">Любимая цитата</h3>
            <div class="match-profile__content-wrapper" id="quote">
                <p class="match-profile__text">{{quote}}</p>
            </div>

            <button class="match-profile__chat-button">Перейти в чат</button>
        </div>
    </div>
</div>
