<div class='details'>
    <div class='details__hero'>
        <h2 class='details__title'>
            {{#if name}}{{name}}{{/if}}
            {{#if age}}{{#if name}}, {{/if}}{{age}}{{/if}}
        </h2>
    </div>

    <h3 class='details__section-title'>О себе</h3>
    <p class='details__section-text'>
        {{#if bio}}
            {{bio}}
        {{else}}
            Нет описания
        {{/if}}
    </p>

    {{#if interests}}
        {{#if interests.length}}
            <h3 class='details__section-title'>Увлечения</h3>
            <div class='details__tags'>
                {{#each interests}}
                    <span class='details__tag'>{{this.name}}</span>
                {{/each}}
            </div>
        {{else}}
            <p class='details__section-text details__section-text--muted'>Добавьте интересы, чтобы быть заметнее</p>
        {{/if}}
    {{/if}}

    {{#if activities}}
        {{#if activities.length}}
            <h3 class='details__section-title'>Активности</h3>
            <div class='details__icons'>
                {{#each activities}}
                    <div class='details__icon-circle'>
                        <img
                            src='{{this.icon}}'
                            alt='{{this.name}}'
                            class='details__activity-icon'
                            title='{{this.name}}'
                        />
                    </div>
                {{/each}}
            </div>
        {{/if}}
    {{/if}}

    <h3 class='details__section-title'>Любимый исполнитель</h3>
    <p class='details__section-text'>
        {{#if musician}}
            {{musician}}
        {{else}}
            Пока не указан
        {{/if}}
    </p>

    <h3 class='details__section-title'>Любимая цитата</h3>
    <p class='details__section-text'>
        {{#if quote}}
            “{{quote}}”
        {{else}}
            Здесь появится цитата, как только вы ее добавите
        {{/if}}
    </p>

    <button class='details__report-btn' type='button' data-report-open>
        Пожаловаться
    </button>
</div>