<div class="match-card {{#if isExpired}}expired{{/if}}" data-match-id="{{id}}" role="article" aria-label="{{name}}, {{age}}">
  <div class="match-image" style="background-image: url('{{image}}')">

      {{!-- <span class="match-timer match-popups">{{timer}}</span>
      {{#if isNew}}
        <span class="match-badge match-popups">Новый</span>
      {{/if}} --}}


    <div class="card-gradient-overlay"></div>

    <div class="match-info">
      <h3 class="match-name">{{name}}, {{age}}</h3>
    </div>
  </div>
</div>
