<div class="card" data-id="{{id}}">
  <div class="card-image-wrapper">
    <img class="card-image" src="{{img1}}" alt="{{Name}}">
    <div class="card-gradient"></div>
    <div class="card-info">
      <h2 class="card-name">{{Name}}, {{Age}}</h2>
      <p class="card-description">{{Description}}</p>
    </div>
  </div>
  
  <div class="card-actions">
    <button class="dislike action-button">&#10006;</button>
    <button class="superLike action-button">&#9733;</button>
    <button class="like action-button">&#9829;</button>
  </div>
</div>