<div class="card" id="cardS" data-id="{{id}}" data-images-json='{{{imagesJson}}}'>
  <div class="card-image-wrapper">
    <img class="card-image" src="{{images.0.imageUrl}}" alt="{{Name}}" data-index="0">
    <div class="card-info">
      <h2 class="card-name">{{Name}}, {{Age}}</h2>
      <p class="card-description">{{Description}}</p>
    </div>
  </div>
  {{#if noActions}}
  <div class="card-actions">
    <button class="reload action-button" onClick="window.location.reload();">&#8634;</button>
  </div>
  {{else}}
  <div class="card-actions">
    <button class="dislike action-button">&#10006;</button>
    <button class="superLike action-button">&#9733;</button>
    <button class="like action-button">&#9829;</button>
  </div>
  {{/if}}
</div>