<div class="profile-page">
    <div class="profile-content">
        <div class="photo-grid">
            {{#each photoCards}}
            <div class="photo-card" data-photo-id="{{this.id}}">
                {{#if this.isUserPhoto}}
                <div class="photo-card-image" style="background-image: url('{{this.image}}');">
                    <button class="delete-photo-btn"><img src="./src/assets/trash.svg" alt="/" class="delete-icon"></button>
                </div>
                {{else}}
                <div class="add-photo-placeholder">
                    <span class="plus-icon">+</span>
                </div>
                {{/if}}
            </div>
            {{/each}}
        </div>

        <div class="profile-details">
    
            <h3 class="section-title">
                О себе 
                <span class="edit-icon-small" data-target="description" data-type="paragraph"><img src="./src/assets/edit.svg" alt="/" class="edit-icon"></span>
            </h3>
            <div id="description" class="editable-content-wrapper">
                <p class="section-text current-text">{{description}}</p>
            </div>
            
            <h3 class="section-title">Увлечения</h3>
            <div id="interests-list" class="interests-tags">
                {{#each interests}}
                    <span class="interest-tag" data-interest-id="{{this.id}}">
                        {{this.name}}
                        <span class="delete-interest-layer">×</span>
                    </span>
                {{/each}}
                <span id="add-interest-tag" class="interest-tag add-tag-button">
                    Добавить
                </span>
            </div>

            <h3 class="section-title">Активности</h3>
            <div class="icon-section">
                <div class="icon-circle"></div>
                <div class="icon-circle"></div>
                <div class="icon-circle plus-icon-circle">
                    <span class="plus-icon">+</span>
                </div>
            </div>

            <h3 class="section-title">
                Любимый исполнитель 
                <span class="edit-icon-small" data-target="musician" data-type="single-line"><img src="./src/assets/edit.svg" alt="/" class="edit-icon"></span>
            </h3>
            <div id="musician" class="editable-content-wrapper">
                <p class="section-text current-text">{{musician}}</p>
            </div>

            <h3 class="section-title">
                Любимая цитата 
                <span class="edit-icon-small" data-target="quote" data-type="paragraph"><img src="./src/assets/edit.svg" alt="/" class="edit-icon"></span>
            </h3>
            <div id="quote" class="editable-content-wrapper">
                <p class="section-text current-text">{{quote}}</p>
            </div>
        </div>
    </div>
</div>
